<div class="az-content">
  <div class="container-fluid">
      <div class="az-content-body d-flex flex-column">
          <breadcrumb></breadcrumb>
          <h2 class="az-content-title">Welfare</h2>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th></th>
          <th>Username</th>
          <th>Employee no</th>
          <th>Name</th>
          <th>Div</th>
          <th>Dept</th>
          <th>Band</th>
          <th>Position</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.EMP_NO }}</td>
          <td>{{ user.EMP_NO }}</td>
          <td>{{ user.EMP_NO }}</td>
          <td>{{ user.FNAME }}</td>
          <td>{{ user.DIV }}</td>
          <td>{{ user.DEPT }}</td>
          <td>{{ user.BAND }}</td>
          <td>{{ user.POSITION }}</td>
          <td>{{ user.EMAIL }}</td>
        </tr>
      </tbody>
    </table>


    </div>
  </div>
</div>