<div class="az-content">
    <div class="az-content-body">
        <div class="container-fluid">
        <table class="table" datatable>
            <thead>
                <tr>
                    <th>Div Cls</th>
                    <th>Wc Code</th>
                    <th>Wc Abb Name</th>
                    <th>Total M</th>
                    <th>Total F</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>12</th>
                    <td>1110</td>
                    <td>CAO</td>
                    <td>0</td>
                    <td>0</td>
                    <td>2</td>
                </tr>
            </tbody>
        </table>
        </div>
  </div><!-- az-content-body -->
</div><!-- az-content -->